<?xml version="1.0" ?>
<!--
/**
 * Copyright © Thana', Inc. All rights reserved. 
 */
--> 
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="logintracking" frontName="logintracking">
            <module name="CustomerLogin_Tracking" />
        </route>
    </router>
</config>