<?xml version="1.0" ?>
<!--
/**
 * Copyright © Thana', Inc. All rights reserved. 
 */
--> 
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CustomerLogin_Tracking" setup_version="0.1.1" />
</config>